body {
    background-color: #444;
    color: #dadada;
}


.main__fanlar {
    margin: 100px auto 0 auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subject:nth-child(3n){
    grid-column: 1/-1;
}

.subject {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    column-gap: 20px;
}

.subject__img__div{
    grid-row: 1/-1;
}

.subject__img__div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: top right;
    border-radius: 0.5em;
}

.subject a {
    justify-self: end;
    align-self: end;
    text-decoration: none;
    color: #dadada;
    transition: all 0.3s;
}

.subject a:hover {
    text-decoration: underline;
    color: #FFF;
}

.nav-list a {
    color:#c3c3c3;
    transition: all 0.3s;
}

.nav-list a:hover {
    color: #fff;
}
