.hero {
    background-image: url("../images/bg.jpg");
    background-position: top right;
    background-size: cover;
    height: 600px;
}


.hero__card {
    position: relative;
    top: 200px;
    margin: 0 auto;
    width: 600px;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 0.2em;
    color: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
}

.hero__card p {
    color: #d4d4d4;
    margin-bottom: 10px;
    margin-top: 4px;
}

.hero__card a {
    text-decoration: none;
    border: 1px solid #d4d4d44d;
    padding: 3px 5px;
    border-radius: 0.2em;
    color: #fff;
    transition: all 0.3s;
}

.hero__card a:hover {
    background-color: #fff;
    color: #323232;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.4);
}

.subjects {
    background: linear-gradient(180deg, rgba(30, 143, 255, 0.1), rgba(30, 143, 255, 0.4));
    padding: 40px 10px;
}

.subjects h3 {
    text-align: center;
    padding: 10px 0 0 0;
}

.subjects ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px auto 0 auto;
    justify-content: center;
    padding: 0 40px;
}

.subjects ul li {
    flex: 1;
}

.subjects li img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5em;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.subjects ul p {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.footer-list {
    padding: 10px 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #444;
}

.footer-list li img{
    width: 60px;
}